{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="app">
            <div class="col-lg-6" v-if="state == 'show-todo-lists'">
                <h1>Your Todo Lists</h1>
                <ul class="list-group mb-4">
                    <li class="list-group-item" v-for="todoList in todoLists" :key="todoList.id">
                        <a href="#" @click='onSelectTodoList(todoList.id)' class="d-flex list-group-item list-group-item-action">
                            <div class="flex-grow-1">
                                [[todoList.name]]
                            </div>
                            <span class="badge bg-primary rounded-pill">[[todoList.todo_count]]</span>
                        </a>
                    </li>
                </ul>
                <button type="button" @click="state = 'create-todo-list'" class="btn btn-primary btn-sm mb-4">Create New List</button>
            </div>
            <div class="col-lg-6" v-if="state == 'create-todo-list'">
                <h1>Create Todo List</h1>
                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input v-model="newTodoListName" class="form-control" name="todo-list-name" type="text" />
                </div>
                <div class="text-danger text-bold mb-4" v-if="createError">[[createError]]</div>
                <button @click="state = 'show-todo-lists'" type="button" class="btn btn-primary btn-sm me-2">Back</button>
                <button @click="onCreateTodoList" type="button" class="btn btn-primary btn-sm">Create</button>
            </div>
            <div class="col-lg-6" v-if="state == 'todo-list-detail'">
                <h1>Todo List Detail: [[selectedTodoListName]]</h1>
                <ul class="list-group mb-4">
                    <li class="list-group-item" v-for="item in selectedTodoListItems" :key="item.id">
                        <a href="#" @click='onSelectTodo(item.id)' class="d-flex list-group-item list-group-item-action">
                            <div class="flex-grow-1">
                                [[item.text]]
                            </div>
                            <span v-if="item.completed"><i class="bi-check"></i></span>
                        </a>
                    </li>
                </ul>
                <button @click="state='create-todo'" class="btn btn-primary btn-sm me-2">Create Todo</button>
                <button @click="state='show-todo-lists'" class="btn btn-primary btn-sm">Back</button>
            </div>
            <div class="col-lg-6" v-if="state == 'create-todo'">
                <h1>Create Todo</h1>
                <div class="mb-3">
                    <label class="form-label">Text</label>
                    <input type="text" class="form-control" v-model="newTodoText">
                </div>
                <button @click="onCreateTodo" class="btn btn-primary btn-sm">Create</button>
            </div>
        </div>        
    </div>
</div>

{% endblock %}

{% block page_scripts %}
<script src="https://unpkg.com/vue@next"></script>
<script>
    const csrfToken = "{{csrf_token}}";
    const App = {
        data() {
            return {
                todoLists: [],
                state: "show-todo-lists",
                selectedTodoList: null,
                selectedTodoListName: null,
                newTodoListName: "",
                createError: null,
                selectedTodoListItems: [],
                newTodoText: "",
            }
        },
        methods: {
            onCreateTodoList() {
                console.log("Create new list!")
                if (this.newTodoListName == "") {
                    console.log("Empty todo name!")
                    return;
                }

                const data = new FormData();
                data.append("name", this.newTodoListName);

                fetch("api/todo-list/create/", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                    body: data
                }).then((res) => {
                    if (res.status >= 200 && res.status <= 299) {
                        return res.json();
                    } else {
                        throw Error(res.statusText);
                    }
                }).then((json_data) => {
                    console.log("in json data part")
                    this.todoLists.push(json_data)
                    this.state = "show-todo-lists";
                }).catch((error) => {
                    console.log("ERROR");
                    this.createError = "Error: Unable to create todo";
                });
            },
            onSelectTodoList(listId) {
                let todoListName = "";
                for (i in this.todoLists) {
                    if (this.todoLists[i].id == listId) {
                        todoListName = this.todoLists[i].name;
                    }
                }
                fetch(`api/todo-list/${listId}/`).then((res) => {
                    if (res.status >= 200 && res.status <= 299) {
                        return res.json();
                    } else {
                        throw Error(res.statusText);
                    }
                }).then((json_data) => {
                    this.selectedTodoListItems = json_data;
                    this.selectedTodoList = listId;
                    this.selectedTodoListName = todoListName;
                    this.state = "todo-list-detail";
                }).catch((error) => {
                    console.log("ERROR FETCHING TODO")
                    console.log(error)
                })
                
            },
            onSelectTodo(todoId) {
                const formData = {completed: true, id: todoId};
                fetch(`api/todo/update/`, {
                    method: "PUT",
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': "application/json"
                    },
                    body: JSON.stringify(formData)
                }).then((res) => {
                    if (res.status >= 200 && res.status <= 299) {
                        return res.json();
                    } else {
                        throw Error(res.statusText);
                    }
                }).then((json_data) => {
                    console.log(json_data);
                    for (const todo of this.selectedTodoListItems) {
                        if (todo.id == todoId) {
                            todo.completed = !todo.completed;
                        }
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            onCreateTodo() {
                if (this.newTodoText == "") {
                    return;
                }
                const formData = new FormData();
                formData.append("text", this.newTodoText);
                formData.append("todo_list_id", this.selectedTodoList);

                fetch("api/todo/create/", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                    body: formData
                }).then((res) => {
                    if (res.status >= 200 && res.status <= 299) {
                        return res.json();
                    } else {
                        throw Error(res.statusText);
                    }
                }).then((json_data) => {
                    this.newTodoText = "";
                    this.selectedTodoListItems.push(json_data);
                    this.state = "todo-list-detail";
                }).catch((error) => {
                    console.log("Error")
                });
            }
        },
        created() {
            fetch("api/todo-list/").then((res) => {
                return res.json();
            }).then((data) => {
                this.todoLists = data;
            })
            console.log("App Created")
        },
        compilerOptions: {
            delimiters: ['[[', ']]'],
        }
    }

    Vue.createApp(App).mount('#app')
</script>
{% endblock %}

{% block page_styles %}
{% endblock %}