{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Your Todo Lists</h1>
        <div id="app">
            <ul>
                <li v-for="todoList in todoLists" :key="todoList.id">
                    [[todoList.name]]
                </li>
            </ul>
            <a href="#" @click="onCreateNewList" class="btn btn-primary btn-sm">Create New List</a>
        </div>        
    </div>
</div>

{% endblock %}

{% block page_scripts %}
<script src="https://unpkg.com/vue@next"></script>
<script>
    const App = {
        data() {
            return {
                todoLists: []
            }
        },
        methods: {
            onCreateNewList() {
                console.log("Create new list!")
            }
        },
        created() {
            fetch("http://127.0.0.1:8000/api/todo-list/").then((res) => {
                return res.json();
            }).then((data) => {
                this.todoLists = data;
            })
            console.log("App Created")
        },
        compilerOptions: {
            delimiters: ['[[', ']]'],
        }
    }

    Vue.createApp(App).mount('#app')
</script>
{% endblock %}

{% block page_styles %}
{% endblock %}